[2019-02-13 23:24] pooja opened #4 "create and bridge IRC channels to matrix/slack"
IRC channels will help us get in touch with a significant portion of our community that really prefers to use IRC over Matrix and Slack. We currently have several chat channels created in [Matrix](https://matrix.org). We chose Matrix because it uses a decentralized, p2p protocol, and channels can be encrypted end-to-end. Matrix also makes it easy to integrate with other chat services.

Currently,

[2019-05-15 09:58] bcomnes opened #16 "Mining call 1 recording?"
Did the mining call recording get posted anywhere? I unfortunately missed it and was hoping to catch it on the recording.
<img width="791" alt="Screen Shot 2019-05-15 at 11 57 02 AM" src="https://user-images.githubusercontent.com/166301/57766997-ae58a700-7708-11e9-8730-482278a48432.png">

[2019-05-15 16:11] liao1k commented on #16
I am waiting for the conference call video also. Please let us know when you post that video file on the community repo. Thanks.

[2019-05-15 20:33] BravoJason commented on #16
Me too. I'm waiting for the video as well.

[2019-05-15 20:34] cahlenlee commented on #16
Same here

[2019-05-16 16:34] axelsimon opened #18 "Mining and Dev Community calls links are 404"
In the README.md, both links are dead:

I have a feeling @pooja might know how to help out on this! :)

[2019-05-16 19:53] jimpick commented on #16
It's up now!

https://www.youtube.com/watch?v=bpKKgkPmA_w

[2019-05-16 19:53] #16 closed

[2019-05-16 20:12] bcomnes commented on #16
@jimpick ftw!

[2019-05-16 21:12] jimpick commented on #18
I see an unapproved pull request here:

https://github.com/filecoin-project/community/pull/15

[2019-05-17 16:39] pooja commented on #18
Thank you @axelsimon and @jimpick! Indeed that PR should fix it. Thanks @jamiew for the fix. Let me know if that doesn't fix it for some reason!

[2019-06-22 00:22] kdunn926 commented on #18
Having a "not quite 404" - more like an ipfs http gateway latency issue - loading stall out here:

![image](https://user-images.githubusercontent.com/7925800/59956989-6e948600-9451-11e9-8aa1-0ea529e7c3f3.png)

[2019-07-09 21:24] pooja commented on #18
I believe this issue has been resolved. Please reopen if not!

[2019-07-09 21:24] #18 closed

[2019-07-10 02:44] michellebrous opened #19 "Filecoin Community Meetup in Shenzhen, China (July 15, 2019)"
Hello Filecoin Community 👋

Our team is traveling to China and we would love to meet you!

Filecoin is hosting a community meetup in *Shenzhen, China on July 15, 2019*. Everyone is welcome to attend and meet with the team and community. We also are inviting teams to present a casual, 5-minute lightning talk on what you have been working on and would like to share with us. We welcome presentations

[2019-07-10 03:04] arsstone commented on #19
Awesome, I'm glad to hear from it, Welcome to Shenzhen,  I'm Stone Zhang, from ARS, and I apply for the Lightning talks as bellow,
- Name:  Stone（张日和）
- Email: stone.zhang@arsyun.com
- Affiliations:  ARS（深圳市先河系统技术有限公司）
- Github handle: arstone
- Lightning talk topic: Application based on filecoin

[2019-07-10 03:04] deltazxm commented on #19
Name:李彦东
Email:lyd@ipfsmain.cn
Affiliations:IPFSMain
Github handle: deltazxm
Lightning talk topic:星际大陆助力Filecoin生态

[2019-07-10 03:09] waynewyang commented on #19
So great, Welcome to Shenzhen.

[2019-07-10 03:14] michaelpeng1994 commented on #19
Name: Michael Peng
Email: michael.peng@arsyun.com
Affiliations: ARS（深圳市先河系统技术有限公司）
I am going to attend participate in this event, thx :P

[2019-07-10 03:15] steven004 commented on #19
Great! Welcome to China!

[2019-07-10 03:16] woodstone78 commented on #19
Great！Welcome！

Name: woodstonewood(吴成东)
Email: downloadmoney@163.com
Affiliations: 广东星际云库网络科技有限公司
Github handle: woodstone
Lightning talk topic: The zoology on IPFS/Filecoin

[2019-07-10 03:21] fengyuxilu commented on #19
So cool.
Welcome to Shenzhen
Name: Lucas（许宇风）
Email: lucas.xu@arsyun.com
Affiliations: ARS（深圳市先河系统技术有限公司）
Github handle: fengyuxilu
 I am going to attend the meeting

[2019-07-10 03:22] junyaoren commented on #19
For lightening talk:
Name (Speaker): Huan Zhou
Email: jren@scu.edu
Affiliations: IPFS.FUND
Lightning talk topic: Current Situations and Advices for IPFS/Filecoin Ecology Development in China

Thanks!

[2019-07-10 03:28] d9xt commented on #19
Name:Juson 朱虎山
Email:2545491182@qq.com
Affiliations:迪玖网络
Github handle:d9xt
Lightning talk topic:SWOT Analysis of IPFS/filecoin

| |
mlmsky
|
|
邮箱：mlmsky@126.com
|

Signature is customized by Netease Mail Master

On 07/10/2019 11:22, Junyao Ren wrote:

For lightening talk:
Name (Speaker): Huan Zhou
Email: jren@scu.edu
Affiliations: IPFS.FUND
Lightning talk topic: Current Situations and Advices for

[2019-07-10 03:31] bitcodeman commented on #19
Name:lingfaming
Email:bjming@126.com
Affiliations:World Bitcodeman Blockchain Academy
Github handle:bitcodeman
Lightning talk topic:Discussing Distributed Storage Ecology in China, Bitcodeman Helps Filecoin Landing

[2019-07-10 03:38] caibangzi commented on #19
Name: Btcjazz（何辰锋）
Email: fsr@filestorer.com
Affiliations: Filestorer（广东文储区块链科技有限公司）
Github handle: Btcjazz
Lightning talk topic: Block Chain Infrastructure Service Provider
I will take part in this meetup.

[2019-07-10 03:39] xueqingping commented on #19
Name: xueqingping
Email: oem0105@163.com
Affiliations: bitcodeman币码翁区块链研究院
github:xueqingping

[2019-07-10 03:41] caibangzi commented on #19
Name: Btcjazz（何辰锋）
Email: fsr@filestorer.com
Affiliations: Filestorer（广东文储区块链科技有限公司）
Github handle: caibangzi
I will take part in this meetup.

[2019-07-10 03:41] ButterflyChain commented on #19
非常高兴看到这个消息，欢迎Filecoin来到深圳!
姓名：彭勇
电子邮件：512839186@qq.com
附属机构：Butterfly chain（蝶链科技）
Github句柄：ButterflyChain

[2019-07-10 03:46] Aboatlai commented on #19
Name: Aboat Lai
Email: chuhang@ipfs.cn
Affiliations: IPFS.CN
Github handle: Aboatlai
Lightning talk topic: Filecoin mining

[2019-07-10 03:49] NieHao commented on #19
Name: 聂浩
Email: 147011391@163.com
Affiliations: bitcodeman
github:NieHao

[2019-07-10 03:49] David871254833 commented on #19
太棒了，欢迎大家来深圳！
名称：David
邮箱：871254833@qq.com
附属机构：广东华美科技开发有限公司
闪电话题：Filecion

[2019-07-10 03:56] cbruin commented on #19
Name:ray xiong
Email:linchu@qq.com
Affiliations:intellishare foundation
Github handle:cbruin
Lightning talk topic:how filecoin could land in  China

[2019-07-10 04:10] Lindensys commented on #19
名称：晏梓桐
邮箱：yanzitong@lindensys.com
附属机构：西安灵动计算机系统有限公司
Github句柄：lindensys
闪电话题：数据中心和分散的NAS网络建设

[2019-07-10 04:12] cbruin commented on #19
Name:ray xiong
Email:linchu2013@qq.com
Affiliations:intellishare foundation
Github handle:cbruin
Lightning talk topic:how filecoin eco could land in China

[2019-07-10 04:22] lvpingbo commented on #19
so nice
Name:吕平波
Email: 156281872@qq.com
Affiliations: jiuhaoxian
github:lvpingbo

[2019-07-10 04:24] dayou5168 commented on #19
Name: 陈伟
Email:1368615390@qq.com
Affiliations: linden
github:dayou5168

[2019-07-10 04:24] Santinii commented on #19
Name：Leo FU
Email: leo.fox@Live.cn
Affiliations:Linden
github handle: Santinii

[2019-07-10 04:29] NeoGe-IPFSMain commented on #19
Name: Neo Ge
Email: nge@ipfsmain.ca
Affiliations: IPFSMain
Github handle: NeoGe-IPFSMain

[2019-07-10 04:31] hxchen8899 commented on #19
太棒了，欢迎来深圳！
名称：陈华兴
邮箱：2271071498@qq.com
附属机构：深圳市港新有限公司
闪电话题：IPFS在网格链中的应用

[2019-07-10 04:37] woshihanhaoniao commented on #19
name: 李阳 Yang Li
Email:18054418886@163.com
Affiliations:麦客矿业 MCM
Github handle:woshihanhaoniao
Lightning talk topic:How to avoid the monopoly of arithmetic and how to prevent mob politics (mistaken decisions caused by the consensus of most laymen in Da)

[2019-07-10 04:37] bby1945 commented on #19
Name: Bob
Email: 401088652@qq.com
Affiliations: 时空区块链
Github handle: bby
Lightning talk topic: Filecoin mining

[2019-07-10 04:39] loulancn commented on #19
Name:王永才（Ethan.Wong）
Email:wyc@9stor.com
Affiliations:9Stor.com (九存云)
Github handle: loulancn
Lightning talk topic:Filecoin的云挖矿技术架构

[2019-07-10 04:40] i3vale commented on #19
Name:陶柱
Email:i3valen@qq.com
Affiliations:中科星际
Github handle:i3vale

[2019-07-10 04:42] jianhuaixie commented on #19
Name:Silver Xie
Email:jianhuaixie@gmail.com
Affiliations:IPSE Foundation
Github handle:jianhuaixie
Lightning talk topic:Where is the data storage demand side?

[2019-07-10 04:47] poalharry commented on #19
Name: poalharry
Email: 912458486@qq.com
Affiliations: 时空投资
Github handle: poalharry

[2019-07-10 04:51] jun68882 commented on #19
Name: 赖宪君
Email: jun68882@qq.com
Affiliations: 时空云科技有限公司
Github handle: xianjunlai
Lightning talk topic: Filecoin mining

[2019-07-10 04:53] Ywenshu commented on #19
so nice
Name:余文书
Email: 1160461091@qq.com
Affiliations: marketer
github:Ywenshu

[2019-07-10 04:57] LiuXuFei commented on #19
Name: liuxufei
Email: mail@liuxufei.com
Affiliations: filestorer
Github handle: liuxufei

[2019-07-10 05:09] wosiwozai commented on #19
Name: rui li
Email: ddxxtt@126.com
Affiliations: zopool.com（节点云算）
Github handle: wosiwozai
Lightning talk topic: Filecoin mining

[2019-07-10 05:11] skytree-neo commented on #19
Name: 树哥 Treebrother
Email: goahead321@qq.com
Affiliations: 树哥区块链
Github handle: skytree-neo
Lightning talk topic: Application of IPFS

[2019-07-10 05:13] Cyanglacier commented on #19
Name: Luo ZiHong（罗子鸿）
Email: 514593663@qq.com
Affiliations: StarWaving 星际浪涛
Github handle: CyanGlacier
Lightning talk topic: The utilize of proof of spacetime

[2019-07-10 05:21] Ywenshu commented on #19
so nice
Name:LUCY PENG
Email: 65016083@qq.com
Affiliations: marketer
github:Ywenshu

[2019-07-10 05:22] HailongZhao666 commented on #19
Filecoin，Welcome to Shenzhen. We looking forward it !
Name:赵海龙
Email:2260729294@qq.com
Affiliations:中创融科技有限公司
Github handle: HailongZhao666

[2019-07-10 05:33] Dengyunchu commented on #19
名称：邓运初
邮箱：843001801@qq.com
附属机构：深圳市中创融科技有限公司
Github句柄：IPFS  forward
闪电话题：IPFS生态之数据存储运营商

[2019-07-10 05:47] fraymond commented on #19
Name: Raymond Fu
Email: fraymond@gmail.com
Affiliations: FileStorm
Github handle: fraymond
Lightning talk topic: Commercial Cooperation of IPFS Community

[2019-07-10 05:52] lsy-zhaoshuaiji commented on #19
Name: Shuai ji Zhao（赵帅吉）
Email: 345709891@qq.com
Affiliations: 深圳牛链科技有限公司）
Github handle: lsy-zhaoshuaiji
Lightning talk topic: Filecoin mining

[2019-07-10 06:03] wanghongji1 commented on #19
名称：王宏基
邮箱：wanghongji169@gmail.com
附属机构：西安灵动计算机系统有限公司
Github句柄：wanghongji1

[2019-07-10 06:12] jarodqin commented on #19
姓名：jarod（秦龙）
电子邮件：4552509@qq.com
附属机构：ARS（深圳市先河系统技术有限公司）
Github句柄：jarodqin
我将参加此次活动

[2019-07-10 06:22] Marcocoin commented on #19
Sweet!  Welcome you all finally coming to China. Looking forward seeing you at the meetup.

Name: Marco Ma
Email: coinsgulu@gmail.com
Affiliations: Filestorer
Github handle:  marcocoin

[2019-07-10 06:32] sywyn219 commented on #19
name:huanjia
Email:hkicloudfilecoin@gmail.com
Affiliations:hkicloud(华科闪云广东科技有限公司)
github handle:sywyn219
Lightning talk topic:Filecoin ecological construction

[2019-07-10 06:37] cczhilie commented on #19
Name: Gavin Guo
Email: 57855143@qq.com
Affiliations: FileStorm
Github handle: cczhilie

[2019-07-10 06:37] LeonardWlr commented on #19
Name: Leonard Wang
Email: leonardwang@filestorm.vip
Affiliations: FileStorm
Github handle: LeonardWlr

[2019-07-10 06:46] rogerlzp commented on #19
Name: Roger Li
Email: 17256049@qq.com
github: rogerlzp
Lightning talk topic: Filecoin & IPFS use

[2019-07-10 06:48] Linden-HZ-ENXI commented on #19
Name: hulianna Liu
Email:15258883142@163.com
Affiliations:lindensys
Github handle: lindensys
Lightning talk topic:

[2019-07-10 06:48] Linden-HZ-ENXI commented on #19
Name: hulianna Liu
Email:15258883142@163.com
Affiliations:lindensys
Github handle: lindensys
Lightning talk topic:

[2019-07-10 06:53] Linden-HZ-ENXI commented on #19
Name: yaofu Hung
Email:  aaa_hyf70000@163.com
Affiliations: lindensys
Github handle:  lindensys
Lightning talk topic:

[2019-07-10 06:54] huangchenhui commented on #19
Name：Hui cheng Huang（黄城辉）
Email：178245528@qq.com
Affiliations：广州星际云库网络科技有限公司
Githubhandle：jarodqin
我将参加此次活动

[2019-07-10 06:55] Linden-HZ-ENXI commented on #19
Name: jiangling Zhu
Email: zjl_2233@163.com
Affiliations: lindensys
Github handle: lindensys
Lightning talk topic:

[2019-07-10 06:57] Ken8359 commented on #19
Name：许耿华
Email：108609852@qq.com
Affiliations：营胜科技（区块链投资、节点运营）
Github handle：Ken8359

[2019-07-10 07:04] wqxzwqx commented on #19
Name：王庆祥
Email：499288261@qq.com
Affiliations：新加坡般若基金会（区块链矿机研发，生产，销售）
Github handle：wqxzwqx
lightning talk：we are waiting for so long time

[2019-07-10 07:17] kuakeqiji commented on #19
Name：尹钟一
Email：yzy-ds@kuakecy.com
Affiliations：深圳市奇积网络科技有限公司
Github handle：kuakeqiji
lightning talk：很荣幸参加这个会议

[2019-07-10 07:20] jinliu3 commented on #19
Wlecome Filecoin‘s Team to China.
Name: JIN LIU
Email: 554123428@qq.com
Affiliations: IPFSDATA（深圳市星际存储技术有限公司）
Github handle：jinliu3
I will go to attend  this meeting ,so exciting，thanks

[2019-07-10 07:26] SZGYJ commented on #19
Filecoin，Welcome to Shenzhen. We looking forward it !
Name:郭倚嘉
Email:920858892@qq.com
Affiliations:中创融科技有限公司
Github handle: SZGYJ

[2019-07-10 07:27] SZGYJ commented on #19
Filecoin，Welcome to Shenzhen. We looking forward it !
Name:郭倚嘉
Email:920858892@qq.com
Affiliations:中创融科技有限公司
Github handle: SZGYJ

[2019-07-10 07:29] kuakeqiji commented on #19
--------------原始邮件--------------
发件人："jinliu3 "<notifications@github.com>;
发送时间：2019年7月10日(星期三) 下午3:20
收件人："filecoin-project/community" <community@noreply.github.com>;
抄送："kuakeqiji "<yzy-ds@kuakecy.com>;"Comment "<comment@noreply.github.com>;
主题：Re: [filecoin-project/community] Filecoin Community Meetup in Shenzhen, China (July 15, 2019) (#19)
-----------------------------------

Wlecome Filecoin

[2019-07-10 07:29] titilami commented on #19
Name:Tao Yan
Email:17154833158@163.com
Affiliations:IPFS GALAXY（星系云科技）
Github handle: titilami
Lightning talk topic: As a Filecoin follower, I am hope to attend the meeting.

[2019-07-10 07:38] brown-hs commented on #19
Name: Aden Huang
Email: 2889391870@qq.com
Affiliations: FileStorm
Github handle: brown_hs

[2019-07-10 07:38] IPSOUoffical commented on #19
Name:Jessie
Email:info@ipsou.io
Affiliations:IPSOU
Github handle: IPSOUofficial
Lightning talk topic: Co-construction Filecoin Ecology

[2019-07-10 07:44] kuakeqiji commented on #19
--------------原始邮件--------------
发件人："尹钟一 "<yzy-ds@kuakecy.com>;
发送时间：2019年7月10日(星期三) 下午3:29
收件人："filecoin-project/community" <reply@reply.github.com>;"filecoin-project/community" <community@noreply.github.com>;
抄送："kuakeqiji "<yzy-ds@kuakecy.com>;"Comment "<comment@noreply.github.com>;
主题：回复:Re: [filecoin-project/community] Filecoin Community Meetup in Shenzhen, China (July 15, 2019) (#19)
------

[2019-07-10 07:50] shanghaixindoukeji commented on #19
姓名：huangzhenmin
电子邮件：shxindoutechnology@outlook.com
附属机构：shxindoutechnology
Github处理：Ipfs china

[2019-07-10 07:51] shanghaixindoukeji commented on #19
姓名：张泉进
电子邮件：shxindoutechnology@outlook.com
附属机构：shxindoutechnology
Github处理：Ipfs china

[2019-07-10 08:10] backey-zhang commented on #19
So cool.
Welcome to Shenzhen
Name: Backey（张夏榕）
Email: backey.zhang@163.com
Affiliations: ARS（深圳市先河系统技术有限公司）
Github handle: backey.zhang
I am going to attend the meeting

[2019-07-10 08:15] jinliu3 commented on #19
Wlecome Filecoin‘s Team to China.
Name: KEDA CHE
Email: 360623587@qq.com
Affiliations: IPFSDATA（深圳市星际存储技术有限公司）
I will go to attend this meeting

[2019-07-10 08:23] shanghaixindoukeji commented on #19
姓名：huangzhenming（黄振明）
电子邮件：shxindoutechnology@outlook.com
附属机构：shxindoutechnology
Github处理：shanghaixindoukeji

[2019-07-10 08:23] shanghaixindoukeji commented on #19
姓名：张泉进
电子邮件：shxindoutechnology@outlook.com
附属机构：上海鑫兜科技
Github处理：shanghaixindoukeji

[2019-07-10 08:24] shanghaixindoukeji commented on #19
姓名：陈睿
电子邮件：shxindoutechnology@outlook.com
附属机构：shxindoutechnology
Github处理：shanghaixindoukeji

[2019-07-10 08:26] NODEMAIN commented on #19
so cool Filecoin china shenzhen meetup
Name:young （陈晓寅）
Email:young@nodemain.com
Affiliations:node（深圳节点科技有限公司）
Github handle: nodemain
Lightning talk topic: Filecoin and node techlonogy

[2019-07-10 08:28] NODEMAIN commented on #19
so cool Filecoin  Welcome china shenzhen
Name:young （陈晓寅）
Email:young@nodemain.com
Affiliations:node（深圳节点科技有限公司）
Github handle: nodemain
Lightning talk topic: Filecoin and node techlonogy

[2019-07-10 08:30] NODEMAIN commented on #19
so cool Filecoin Welcome to china shenzhen
Name:young （陈晓寅）
Email:young@nodemain.com
Affiliations:node（深圳节点科技有限公司）
Github handle: nodemain
Lightning talk topic: Filecoin and node techlonogy

[2019-07-10 08:36] Mikezuo commented on #19
So cool.
Welcome to Shenzhen
Name: Mike zuo
Email: sz83775086@126.com
Affiliations: ABC社区
Github handle: Mikezuo
I am going to attend the meeting

[2019-07-10 08:37] duduppp commented on #19
Name:  Stone（杜平）
 Email:duping205418@126.com
 Affiliations:  node（华科闪云科技有限公司）
Github handle: duduppp
Lightning talk topic: Co-construction Filecoin Ecology andtechlonogy
I will go to attend this meeting too

[2019-07-10 08:52] liuaofish commented on #19
Name:陈永权
Email:506394594@qq.com
Affiliations：广东星蓝区块链技术有限公司
Github handle:liuaofish
Lightning talk topic:Node construction
Long awaited，I will go to attend this meeting too

[2019-07-10 08:52] rukiruan commented on #19
Name: 阮舒静
Email: 1328075456@qq.com
Affiliations: lindensys
Github handle: lindensys

[2019-07-10 08:57] coolearn opened #20 "Mixin chart"
https://mixin.one/codes/f11b9b2b-3b51-49e8-9b2e-ce43cc688712

[2019-07-10 08:57] o0ooooo commented on #19
名称：李成锋
邮箱：13316160088@189.cn
附属机构：广州市翼迈通讯科技有限公司
Github句柄：o0ooooo
闪电话题：filecoin生态发展的现状与建议

[2019-07-10 08:59] o0ooooo commented on #19
名称：李成锋
邮箱：13316160088@189.cn
附属机构：广州市市
迈迈通讯科技有限公司
Github句柄：o0ooooo
闪电话题：filecoin生态发展的现状与建议

[2019-07-10 09:00] o0ooooo commented on #19
名称：李成锋
邮箱：13316160088@189.cn
附属机构：广州市翼迈通讯科技有限公司
Github句柄：o0ooooo
闪电话题：filecoin生态发展的现状与建议

[2019-07-10 09:02] o0ooooo commented on #19
名称：李成锋
邮箱：13316160088@189.cn
附属机构：广州市翼迈通讯科技有限公司
Github句柄：o0ooooo
闪电话题：filecoin生态发展的现状与建议

[2019-07-10 09:07] o0ooooo commented on #19
Name:李成锋
Email:13316160088@189.cn
Affiliations:广州市翼迈通讯科技有限公司
Github handle:o0ooooo
Lightning talk topic:I am going to attend the meeting

[2019-07-10 09:09] wananLiu commented on #19
Name:刘万安
Email:lwawin@126.com
Affiliation s:博辉亚新（深圳）科技有限公司
Lighting talk topic: I am going to attend the meeting

[2019-07-10 09:10] JackyTanxs commented on #19
Name:谭雪松
Email:tanxs@163.com
Affiliations:广州市翼迈通讯科技有限公司
Github handle:o0ooooo
Lightning talk topic:I am going to attend the meeting

[2019-07-10 09:16] #20 closed

[2019-07-10 09:16] JackyTanxs commented on #19
Name:谭雪松
Email:tanxs@163.com
Affiliations:广州市翼迈通讯科技有限公司
Github handle:JackyTanxs
Lightning talk topic:I am going to attend the meeting

[2019-07-10 09:24] KIMQI001 commented on #19
Name:马嘉廷
Email:297511521@qq.com
Affiliations:华科闪云(广东)科技有限公司
Github handle:KIMQI001
Lightning talk topic:application of filecoin

[2019-07-10 09:55] GuErjia opened #21 "lindensys"
Name:顾迩佳
Email:18049510541@163.com
Affiliations:西安灵动计算机有限公司
Github handle:lindensys

[2019-07-10 10:09] lin6461 commented on #19
Name:辛秉谦
Email:397418927@qq.com
Affiliations:杭州麦田云际科技有限公司
Github handle:lin6461
Lightning talk topic:5g encounters distributed storage

[2019-07-10 11:00] LouisSKKJ commented on #19
Name:杨帆
Email:hoistthesails@hotmail.com
Affiliations:四块科技
Github handle:5G
Lightning talk topic:5G and Distributed storage of large data

I'm going to attend the meeting

[2019-07-10 11:14] LouisSKKJ commented on #19
Name:杨帆
Email:hoistthesails@hotmail.com
Affiliations:四块科技
Github handle:5G
Lightning talk topic:5G and Distributed storage of large data

I'm going to attend the meeting

[2019-07-10 11:31] rukiruan commented on #19
Name: 林李香
Email: 939354731@qq.com
Affiliations: lindensys
Github handle: lindensys

[2019-07-10 11:34] jom168 commented on #19
so nice
Name：谈荣进
Email: 904166071@qq.com
Affiliations: jiuhaoxian
github:jom168

[2019-07-10 11:38] 15000402842 commented on #19
Name: Andy
Email: tianqc1990@126.com
Affiliations: IPFSNEWS （IPFS社区）
Github handle: peter
——————————
thanks
Peter

[2019-07-10 12:30] huangchenhui commented on #19
Name: Hu Wang(王虎）
Email: 13928757699@139.com
Affiliations: 广东星际云库网络科技有限公司
I am going to attend participate in this event, thx :P

[2019-07-10 13:23] JianboWang168 commented on #19
Name: JianboWang(王建波）
Email: 527479935@qq.com
Affiliations: 广东星际云库网络科技有限公司
I am going to attend participate in this event, thx :P

[2019-07-10 13:29] ipsb-harvey commented on #19
Nice to meet you guys in Shenzhen!
Name: Harvey Liao
Email: harvey@mail.ipsb.io
Affiliations:  IPSB (Interplanetary SuperBrain System) 星际超脑
Github handle: @IPSB-harvey
Lightning talk topic: IPFS-based  NGI Cloud

[2019-07-10 14:49] PG-Tsai commented on #19
Name: 蔡丕钜
Email: 1102158217@qq.com
Affiliations:
Github handle: Tsai.P.G

[2019-07-10 15:09] caojingbin commented on #19
Name:JIngbin Cao
Email:2587290595@qq.com
Affiliations:Chainon
Github handle: @caojingbin
Lightning talk topic ：Video Website based on IPFS with Filecoin-based incentives and decentralized communities

[2019-07-10 15:11] Shermanzxw commented on #19
Name:张小伟
Email:Shermanzxw@vip.163.com
Affiliations:鼎诚源芯科技有限公司
Github handle:Sherman
I like to join in this filecoin community meetup

[2019-07-10 15:13] PG-Tsai commented on #19
Name:蔡丕钜
Email:1102158217@qq.com
Affiliations:
Github handle:PG-Tsai
Lightning talk topic:學習如何更有效的介紹ipfs/Filecoin，進行有效的傳播

[2019-07-10 15:22] zhanghongsong commented on #19
Name:张鸿淞
Email:102308858@qq.com
Affiliations:鼎诚源芯科技有限公司
Github handle:VirusRain
I like to join in this filecoin community meetup

[2019-07-10 15:30] BuruceZ commented on #19
Welcome to China. Hope I have the honor to participate in this Filecoin Community Meetup.
Name: Buruce Z
Email: 331607658@qq.com
Affiliations: jiuhaoxian
Github handle: @Loujiawei

[2019-07-10 16:19] freesosoever commented on #19
Name:韩虎亮
Email: 2919865053@qq.com
Affiliations: jiuhaoxian
github:futuretoken

[2019-07-10 17:54] Luqongfang commented on #19
.

[2019-07-10 18:10] Luqongfang commented on #19
Name: 卢琼芳 Lu Qiongfang
Email: 823913770@qq.com
Affiliations: 广东星际云库网络科技有限公司
Github handle: Luqiongfang
Lightning talk topic: N/A

[2019-07-11 01:33] no1lcy commented on #19
Name:CY
Email:no1lcy@189.cn
Affiliations:Filecoin enthusiasts
Github handle:no11cy
Lightning talk topic:

[2019-07-11 01:46] #21 closed

[2019-07-11 01:51] GuErjia commented on #19
Name:顾迩佳
Email:18049510541@163.com
Affiliations:西安灵动计算机有限公司
Github handle:lindensys

[2019-07-11 02:50] dayou5168 commented on #19
！

[2019-07-11 02:57] dayou5168 commented on #19
Name:肖辉
Email:103860898@qq.com
Affiliations: sz
Github handle: dayou5168

[2019-07-11 03:53] squaretech1 commented on #19
Name:冯国东
Email:4857754@qq.com
Affiliations: 四块科技（深圳）有限公司
Github handle: squaretech1

[2019-07-11 03:55] mark451134 commented on #19
So cool.
Welcome to Shenzhen
Name: Mark（周阳）
Email: zhouyang.dx@foxmail.com
Affiliations: Huaxinlian
Github handle: mark451134
I am going to attend the meeting

[2019-07-11 04:18] squaretech1 commented on #19
Name:孔祥红
Email:736549242@qq.com
Affiliations: 四块科技（深圳）有限公司
Github handle: squaretech1

[2019-07-11 04:29] zoulaihui commented on #19
Name: Roy Zou
Email: hello@godel.ai
Affiliations: Protocol.dev
Github handle: zoulaihui
attendee!

[2019-07-11 04:54] zhaoyun717 commented on #19
姓名：毕减波
电子邮件：zhaoyun717@126.com
所属机构：四块科技（深圳）有限公司
Github处理：zhaoyun717
与会者！

[2019-07-11 05:15] huangbingui commented on #19
姓名:黄斌贵
电子邮件:584747967@qq.com
从属关系:名气通电讯有限公司
Github手柄:hashipfs.com

[2019-07-11 05:44] Journeyle commented on #19
Name:chengle
Email:luochengle@aliyun.com
Affiliations:Freeman
Github handle: Journeyle
Lightning talk topic ：Check-in and networking

[2019-07-11 05:54] Lhehe commented on #19
Great. Welcome to Guangzhou
姓名：罗鲸鱼
电子邮件：18565133393@163.com
特性：Personal hobbies
Communication：Hardware and bandwidth

[2019-07-11 06:00] ttt789 commented on #19
姓名：李旺
电子邮件：llishitong@163.com
附属机构：自由职业者
Lightning话题：登记和联网

[2019-07-11 06:11] Gdtdaf commented on #19
Name: Goiton
Email: gdtdaf@gmail.com
Affiliations: BlockArk
Github handle:  Gdtdaf
Lightning talk topic:

[2019-07-11 06:27] fisher1968 commented on #19
Name:huangziqun
Email:huangziqun@163.com
Affiliations: UBTech
Github handle: fisher1968
Lightning talk topic: Application based on filecoin

[2019-07-11 07:21] yangcygit commented on #19
Name:吕光亮
Email:Dasheng698@qq.com
Affiliations:QKKJIPFS（沈阳区块网络科技有限公司）
Github handle: yangcygit
Lightning talk topic ：Filecoin mining based management application

[2019-07-11 07:35] Yolanda224 commented on #19
Name: Yolanda Yang
Email: yolanda@godel.ai
Affiliations: Godel Labs
Github handle: Yolanda224

[2019-07-11 07:35] zhangpuze commented on #19
Name: 张璞泽
Email: 897003208@qq.com
Affiliations: 个人爱好者
Github handle: zhangpuze
Lightning talk topic: large investment in mining machine

[2019-07-11 08:14] blcokblink commented on #19
Name: Taylor（大副）
Email: 277484010@qq.com
Affiliations: Blockark
Github handle: blcokblink
I am going to attend the meeting

[2019-07-11 09:08] lin6461 commented on #19
Name:刘力菠
Email:397418927@qq.com
Affiliations:杭州麦田云际科技有限公司
Github handle:lin6461
Lightning talk topic:5g encounters distributed storage

[2019-07-11 09:09] yaohcn commented on #19
Name: Jack Yao
Email: jack@datahome.io
Affiliations: [DataHome](https://www.datahome.io/)
Github handle: yaohcn

[2019-07-11 09:14] mollychen18 commented on #19
Name: Molly Chen
Email: molly.chenwf@gmail.com
Affiliations: 节点云算
Github handle: mollychen18

[2019-07-11 09:33] lyx168 commented on #19
名称：罗永祥
邮箱：243716167@qq.com
附属机构：广西浩祥信息技术有限公司
Github句柄：lyx168

[2019-07-11 09:34] lyx168 commented on #19
名称：罗永祥
邮箱：243716164@qq.com
附属机构：广西浩祥信息技术有限公司
Github句柄：lyx168

[2019-07-11 09:35] baolianbao commented on #19
* Name: David Lee
* Email: david@datahome.io
* Affiliations: [Datahome](www.datahome.io)
* Github handle: baolianbao
* Lightning talk topic:  What will be change, if  filecoin  as a next generation internet infrastructure.

[2019-07-11 09:35] lyx168 commented on #19
名称：李尊
邮箱：359612905@qq.com
附属机构：广西浩祥信息技术有限公司
Github句柄：lz1788

[2019-07-11 09:36] lyx168 commented on #19
名称：林浩
邮箱：243716164@qq.com
附属机构：广西浩祥信息技术有限公司
Github句柄：lyx168

[2019-07-11 09:55] longlongZhang168 commented on #19
Name：LonglongZhang（张龙龙）
Email：3319740631@qq.com
Affiliations：广州星际云库网络科技有限公司
Githubhandle：jarodqin
我将参加此次活动

[2019-07-11 10:14] peng52015 commented on #19
Name：LiuPeng（刘鹏
Email：269242847@qq.com
Affiliations：四川赛道汇通科技有限公司
Githubhandle：分布式存储生态
我将参加此次活动

[2019-07-11 10:14] Chian-XingChenLi commented on #19
Name：LiuPeng（刘鹏)
Email：269242847@qq.com
Affiliations：四川赛道汇通科技有限公司
Githubhandle：分布式存储生态
我将参加此次活动

[2019-07-11 10:42] ZL604579860 commented on #19
Name：郑麟
Email：604579860@qq.com
Affiliations：四川赛道汇通科技有限公司
Githubhandle：分布式存储生态
我将参加此次活动

[2019-07-11 10:46] congmei688 commented on #19
姓名:曹青
电子邮件：congmei688@163.com
所属机构 星际云链
Githubhandle：分布式存储生态
我将参加此次活动

[2019-07-11 10:53] ShuGary commented on #19
Name: Gary
Email: gary@diancun.net
Affiliations: 杭州点存科技有限公司
Github handle: ShuGary
Lightning talk topic: 边缘存储和Filecoin网络的关系

[2019-07-11 10:54] peng52015 commented on #19
Name：LiuPeng（刘鹏)
Email：269242847@qq.com
Affiliations：四川赛道汇通科技有限公司
Githubhandle：Distributed Storage Ecology
I will attend this meeting

[2019-07-11 10:58] ShuGary commented on #19
That`s not me,Here is my information

姓名：Gary
Email：gary@diancun.net
所属机构：杭州点存科技有限公司
Github handle：ShuGary
Lightning话题：边缘存储和Filecoin网络的关系

------------------ 原始邮件 ------------------
发件人: "peng52015"<notifications@github.com>;
发送时间: 2019年7月11日(星期四) 晚上6:54
收件人: "filecoin-project/community"<community@noreply.github.com>;
抄送: "小/dd鬼"<136134768@qq.com>; "Comment"<comment@noreply.github.com>;
主题: Re: [f

[2019-07-11 11:00] peng52015 commented on #19
Name：LiuPeng（刘鹏)
Email：269242847@qq.com
Affiliations： Sichuan Track Huitong Technology Co., Ltd.（四川赛道汇通科技有限公司）
Githubhandle：Distributed Storage Ecology
I will attend this meeting

[2019-07-11 11:08] mao996 commented on #19
Name:李聪
Email:786747876@qq.com
Affiliations:星际蔚蓝科技有限公司
Github handle: mao996

[2019-07-11 11:08] mao996 commented on #19
Name:朱涛涛
Email:786747876@qq.com
Affiliations:星际蔚蓝科技有限公司
Github handle: mao996

[2019-07-11 14:56] ScienceXChina commented on #19
Name：FENGZIAN(冯梓安)
Email：565369157@qq.com
Affiliations：应用研究
Githubhandle：
我将参加此次活动

[2019-07-11 17:51] michellebrous commented on #19
# UPDATE 7/11
WOW 🤩!! We're thrilled to see such enthusiasm for this event. Thanks so much to everyone that has offered to present at the meetup.

At this time, **we're pausing new signups for the lightning talks**. While we'd love to hear from all you, we only have a limited amount of time at the meetup. We will select lightning talks based on the following criteria:
* Lightning talk topic in you

[2019-07-12 01:49] cosran commented on #19
Name：LeiJie（雷杰)
Email：472915114@qq.com
Affiliations： Topvalley Technology Co.,Ltd（尖谷科技（深圳）有限公司）
Githubhandle：cosran
Lightning talk topic: IPFS development progress and applications.

[2019-07-12 02:43] dayou5168 commented on #19
Name:Chaoyan Huang
Email:1580381003@qq.com
Affiliations:Filecoin enthusiast
Github handle:dayou5168
Lightning talk topic: no talk just attend the meetup!

[2019-07-12 03:03] yongliangXu commented on #19
Name：yongliangXu（徐永良）
Email：13765108177@163.com
Affiliations：星际云库
Githubhandle：jarodqin
我将参加此次活动

[2019-07-12 03:46] gongrita commented on #19
Name:GongWei
Email:gongrita@hotmail.com
Affiliations:ShenZhen YinLiZi Blockchain Technology Co.,Ltd.
Github handle:Gongrita

Name:LiYuGang
Email:
Affiliations:ShenZhen YinLiZi Blockchain Technology Co.,Ltd.
Github handle:LiYuGang

Name:FanWeiDong
Email:
Affiliations:ShenZhen YinLiZi Blockchain Technology Co.,Ltd.
Github handle:FanWeiDong

Name:ZhangXiaoGuang
Email:
Affiliations:ShenZhen YinLiZi Bl

[2019-07-12 03:50] gongrita commented on #19
Name:GongWei
Email:gongrita@hotmail.com
Affiliations:ShenZhen YinLiZi Blockchain Technology Co.,Ltd.
Github handle:Gongrita

Name:LiYuGang
Email:
Affiliations:ShenZhen YinLiZi Blockchain Technology Co.,Ltd.
Github handle:LiYuGang

Name:FanWeiDong
Email:
Affiliations:ShenZhen YinLiZi Blockchain Technology Co.,Ltd.
Github handle:FanWeiDong

Name:ZhangXiaoGuang
Email:
Affiliations:ShenZhen YinLiZi Bl

[2019-07-12 04:12] dayou5168 commented on #19
Name: Tian Jia
Email: 120004321@qq.com
Affiliations:Filecoin enthusiast
Github handle:dayou5168
Lightning talk topic: no!

[2019-07-12 04:13] yys319 commented on #19
姓名：YongshengYe(叶永胜)
电邮：272552107@qq.com
所属机构:上海鑫兜科技
Githubhandle:区块链分布式存储领航者
filcoin贡献

[2019-07-12 04:56] yys319 commented on #19
姓名：shuilizhang张水利
电邮：272552107@qq.com
所属机构:上海鑫兜科技
Githubhandle:区块链分布式存储领航者
filcoin贡献

[2019-07-12 05:20] lyh939354731 commented on #19
名称: 林李香
邮箱：939354731@qq.com
附属机构：西安灵动计算机系统有限公司

[2019-07-12 05:35] LingNovo commented on #19
Name: 谢博
Email: luoyihuage@163.com
Affiliations: 华科闪云（广东）科技有限公司
Github handle: LingNovo
Lightning talk topic: Filecoin 应用前景

[2019-07-12 05:37] huangchundi commented on #19
Name: huangchundi(黄纯迪)
Email: 819257255@qq.com
Affiliations: 嘉兴智合软件开发有限公司
Github handle: jiaxingzhihe
Lightning talk topic: 很荣幸能参加此次会议

[2019-07-12 05:59] tedque5 commented on #19
Name: Ted Que
Email: ted.que@hotmail.com
Affiliations: Memolabs
github:tedque5

[2019-07-12 06:19] ElecRoastChicken commented on #19
Name: Xuesong Zhou
Email:redcoastint@163.com
Affiliations:Redcoast Intelligent
Github handle: ElecRoastChicken

[2019-07-12 06:25] guanShang commented on #19
Name：guan Shang（上官）
Email：329209808@qq.com
Affiliations：星际云商
Githubhandle：jarodqin
我将参加此次活动

[2019-07-12 06:34] Weixiaoqiang1 commented on #19
Name：Weixiaoqiang（卫小强）
Emall：1156786616@qq.com
Affiliation：广东星际云库网络科技有限公司
Githubhandle：jarodqin
我将参加此次会议

[2019-07-12 06:42] vanvank commented on #19
Name:万志诚
Email:165584943@qq.com
Affiliations：广东星蓝区块链技术有限公司
Github handle: vanvank
Lightning talk topic: Storage Pool logic
Long awaited，I will go to attend this meeting

[2019-07-12 06:46] ranAn168 commented on #19
Name：ramAn（安然）
Email：531495546@qq.com
Affiliations：云储科技
Githubhandle：jarodqin
我将参加此次活动

[2019-07-12 06:53] riuem commented on #19
Great! Welcome to China!
Name:ZhuYi
Email: hello@gdxinglan.com
Affiliations：Guangdong Xinglan Block Chain Technology Co., Ltd.
Github handle: riuem
Long awaited，I will go to attend this meeting!

[2019-07-12 07:00] zhaoyun717 commented on #19
大！欢迎来到中国！
姓名：谢永恒
Email：zhaoyun717@126.com
所属单位：深圳四块科技
Github处理：矿机
期待已久，我将参加本次会议！

[2019-07-12 07:14] guanbinZhang commented on #19
Name：guanbinZhang（张观斌）
Email：1729796791@qq.com
Affiliations：云储科技
Githubhandle：jarodqin
我将参加此次活动

[2019-07-12 07:46] Zhuxinpeng commented on #19
Name:Zhuxinpeng (朱鑫彭)
Email:896930229@qq.com
Affiliations:云储科技
Github handle:我将参加此次会议！很荣幸

[2019-07-12 08:11] bigsea-gao commented on #19
- Name:  bigsea（高海超）
- Email: ghc278407562@163.com
- Affiliations:  Guangdong Xinglan Block Chain Technology Co.,Ltd.（广东星蓝区块链技术有限公司）
- Github handle: bigsea-gao
Lightning talk topic: how to working the miner
I will attend the meeting!

[2019-07-12 08:56] dayou5168 commented on #19
Name: Ge Li
Email: linken88@qq.com
Affiliations:Filecoin enthusiast
Github handle:dayou5168
Lightning talk topic: no!

[2019-07-12 09:03] ethan-xiao commented on #19
Welcome to China!
Name: Ethan Xiao
Email: 308056554@qq.com
Affiliations: ipfspro.cn（科极星球）
Github handle: ethan-xiao
Lightning talk topic: Integrated Mining Solutions

[2019-07-12 09:13] William-Fang073 commented on #19
Name: William 方雄敏
Email: fxm1993@outlook.com
Affiliations: 深圳小牛数字科技
Lightning talk topic: IPFS应用前景

[2019-07-12 09:34] ghostfire51 commented on #19
Name:summer(郑传平)
Email:zcp@grandhelmsman.com
Affiliations:grandhelmsman（江西正舵者网络科技）
Github handle:ghostfire51
Lightning talk topic:no talk just attend the meetup

[2019-07-12 10:39] yys319 commented on #19
姓名：xiezihong(谢梓宏)
电邮：272552107@qq.com
所属机构：上海鑫兜科技
Githubhandle：区块链分布式存储领航者
filcoin贡献

[2019-07-12 15:51] dukelol commented on #19
Name: Duke
Email: duke@datahome.io
Affiliations: DataHome
Github handle: dukelol
Lightning talk topic:What will be changing, if filecoin as a next-generation internet infrastructure.

[2019-07-12 22:01] chenlvqing commented on #19
姓名：linbo(林波)
电邮：471076418@qq.com
所属机构：宁波蓝矩网络科技
Githubhandle：Bluematrixcn
Lightning talk topic: IPFS应用前景

[2019-07-12 22:05] 2751230983 commented on #19
姓名：linbo(林波)
电邮：2751230983@qq.com
所属机构：宁波蓝矩网络科技
Githubhandle：Bluematrixcn
Lightning talk topic: IPFS应用前景

[2019-07-13 04:03] EdgeChing commented on #19
Name: Edge Ching
Email: qinzhihang@bitforex.com
Affiliations: bitforex.com
Github handle: EdgeChing

[2019-07-13 04:56] yeyutian205 opened #22 "太棒了！欢迎！我认为这是一次愉快的会议！"
名称：王继东
邮箱：duck-baby@163.com
附属机构：星通科技
Github句柄：非常期待本次活动
我将参与本次活动

[2019-07-13 05:13] yeyutian205 opened #23 "欢迎Filecoin来到深圳!"
名称：DUCK（YEYUTIAN）
邮箱：duck-baby@163.com
附属机构：四块科技
Github句柄：I'm looking forward to this event！
我要参加会议

[2019-07-13 05:16] PennyJiang112211 commented on #19
名称：Penny jiang
邮箱：ipfsfirst.com
附属机构：北京星鉴信息科技有限公司
Github句柄：IPFS星鉴网
闪电谈话主题 :不参加闪电谈话

[2019-07-13 05:16] yeyutian205 commented on #19
名称：王继东
邮箱：360520627@qq.com
附属机构：星通科技
Github句柄：非常期待本次活动
我将参与本次活动

[2019-07-13 05:17] PennyJiang112211 commented on #19
名称：JT
邮箱：ipfsfirst@163.com
附属机构：北京星鉴信息科技有限公司
Github句柄：IPFS星鉴网
闪电谈话主题：不参加闪电谈话

[2019-07-13 05:18] yeyutian205 commented on #19
名称：DUCK（YEYUTIAN）
邮箱：duck-baby@163.com
附属机构：四块科技
Github句柄：I'm looking forward to this event！
我要参加会议

[2019-07-13 05:35] yimingGuo168 commented on #19
Name：yimingGuo（过毅铭）
Email：596152036@qq.com
Affiliations：麦田云际科技
Githubhandle：jarodqin
我将参加此次活动

[2019-07-13 06:00] zhangwubo commented on #19
Name：张武波
Email：178666416@qq.com
Affiliations：北京工信融创云科技有限公司
Githubhandle：zhangwubo
我将参加此次活动，谢谢。

[2019-07-13 06:53] yeyutian205 commented on #19
名称：李金华
邮箱：74850718@qq.com
附属机构：四块科技
我将参加此次活动

[2019-07-13 07:25] mirror819 commented on #19
Filecoin 的生态建设

[2019-07-13 07:45] u52 commented on #19
Name: Philipp Ma
Email: chao@asianets.com
Affiliations: Shenzhen Asianets Co., Ltd.
Github handle: u52

[2019-07-13 07:58] pengxiankaikai commented on #19
Name: pengxiankaikai(彭凯)
Email: pengkai0506@gmail.com
Affiliations: 深圳点点区块科技有限公司
Github handle: @pengxiankaikai
participate in the meeting. Thanks!

[2019-07-13 08:30] kaiyangwang commented on #19
Nice to meet you guys in Shenzhen!
Name:  KaiYang.Wang
Email: wky2444@163.com
Affiliations: 福建省巴比伦区块链科技有限公司
Github handle: @kaiyangwang
Lightning talk topic:  n/a

[2019-07-13 08:33] wangkeyong commented on #19
Name: wangkeyong（王克勇）
Email: 15271750928@163.com
Affiliations: 星际云（武汉）科技有限公司
Github handle: @wangkeyong
participate in the meeting. Thanks!

[2019-07-13 08:58] wangkeyong commented on #19
Nice to meet you guys in Shenzhen!
Name: luochuan（罗川）
Email: 15271750928@163.com
Affiliations: 星际云（武汉）科技有限公司
Github handle: @luochuan
Lightning talk topic

[2019-07-13 09:01] Liuhongying1 commented on #19
Name:Liuhongying1(刘红英)
Email:172888316@qq.com
Affiliations:星际云库
我将参加此次会议

[2019-07-13 11:22] Cyanglacier opened #24 "Mind announce the Community Meetup list?"
So glad that Protocol labs could come to ShenZhen. But I’m not sure i can join this and if it is true... The price of traveling to ShenZhen is little expensive for me:((Booking tickets is necessary)
Hope guys could have an announcement quickly:)

[2019-07-13 12:30] yangjian102621 opened #25 "非常期待这次会议"
Name:RockYang（阳建）
Email: yangjian101621@gmail.com
Affiliations: 深圳星际鑫航科技有限公司
Github handle: yangjian102621

I will attend the meetting on time. wish the meeting a complete success.

[2019-07-14 04:42] taoshengshi commented on #25
Name: tshi
Email: learning_ss@126.com
Affiliations: ProtoShool Organizer
Github handle: taoshengshi

I will attend the meeting on time. wish the meeting a complete success.

[2019-07-14 06:10] chunlaiwang opened #26 "星际云链期待这次愉快的会议"
Name: chunlai wang
Email: ku330613282@163.com
Affiliations: 云尺科技
Lightning talk topic: Blockchain distributed cloud service provider based on filecoin

[2019-07-14 06:22] chunlaiwang opened #27 "盛伟丰 期待这次会议"
盛伟丰 期待这次会议

[2019-07-14 12:21] 15000402842 commented on #22
时间地址在哪里？

            在2019年07月13日 12:56，yeyutian205 写道： 名称：王继东

邮箱：duck-baby@163.com

附属机构：星通科技

Github句柄：非常期待本次活动

闪电谈话主题 :无

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[

{

"@context": "http://schema.org",

"@type": "EmailMessage",

"potentialAction": {

"@type": "ViewAction",

"target": "https://githu

[2019-07-14 16:44] LYT1272478208 opened #28 "Welcome to SZ👈🏻"
Awesome 👏 I wanna attend this meeting!
姓名：Allen
电子邮件：1272478208@qq.com
附属机构：个人

[2019-07-15 02:32] michellebrous commented on #28
Thanks, you'll see an email soon!

[2019-07-15 02:32] #28 closed

[2019-07-15 02:33] #27 closed

[2019-07-15 02:36] michellebrous commented on #26
Thanks, we'll email you an invite shortly!

[2019-07-15 02:36] #26 closed

[2019-07-15 02:38] michellebrous commented on #25
Thanks, you'll receive an email invite shortly!

[2019-07-15 02:38] #25 closed

[2019-07-15 02:40] #22 closed

[2019-07-15 02:40] #23 closed

[2019-07-15 02:42] michellebrous commented on #24
Hi, thanks for writing to us. We're sorry for the late reply, we've been busy preparing for the meetup here. We hope to see you at the next one!

[2019-07-15 02:42] #24 closed

[2019-07-15 02:42] #19 closed

[2019-07-15 02:51] michellebrous commented on #19
Thanks again to everyone that responded! You should have received meetup details over email.

We're looking forward to meeting you later today. Thank you, Shenzhen!! 🙌😊

[2019-07-19 03:02] taoshengshi opened #30 "Tech Meetup & Chapter Chengdu Kickoff 🚀 🌔😀"
We are planning to have tech meetup session(protoschool chengdu kickoff) of proto-school meet-up this month on July 21 . In this session, we are going to cover the following topics:
- Paxos,PoW,VDF: a beautiful continuous (https://mp.weixin.qq.com/s/R1FNNJkjtSQNomrd4lIN-Q)
- IPFS Camp sharing
- IPFS in medical insurance

Please see the meet-up post from: https://www.meetup.com/Shanghai-Decentraliz

[2019-07-19 08:47] dayu26 commented on #30
I'm so expect to see u at the day after tomorrow

[2019-07-19 08:47] mydoto commented on #30
good news！  Great！

[2019-07-22 09:43] steven004 commented on #30
Very successful event. Congratulations!

[2019-07-25 03:38] taoshengshi commented on #30
Recall the meeting (in Chinese Language) :
https://github.com/ProtoSchool/chengdu/blob/master/meetup/07212019/%E6%B4%BB%E5%8A%A8%E5%9B%9E%E9%A1%BE--%E3%80%8E%E5%8D%8F%E8%AE%AE%E5%AD%A6%E9%99%A2%20%C2%B7%20%E6%88%90%E9%83%BD%E5%88%86%E9%99%A2%20%C2%B7%20%E5%BC%80%E9%99%A2%E5%85%B8%E7%A4%BC%E3%80%8F.md

[2019-07-25 03:41] #30 closed

[2019-08-19 14:47] pooja commented on #4
This needs to be updated to whatever our current main community channels are (there should more than the ones listed here!)

[2019-08-20 08:37] wolfduan commented on #4
when can we ming on filecoin network?

[2019-09-28 08:23] wanghongji1 opened #32 "About Developer Testing Version"
Is the open beta version of Filecoin an invitation system?

[2019-09-30 02:41] walkerxin opened #33 "Invalid invit link about creating an account of Filecoin Project Slack"
The invit link is invalid about creating an account of Filecoin Project Slack in Chat section of README，any new links?

[2019-10-02 11:26] maris205 commented on #33
seems outdate

[2019-10-07 20:18] eshon commented on #33
Closed by https://github.com/filecoin-project/community/pull/34

[2019-10-07 20:18] #33 closed

[2019-10-07 20:20] eshon commented on #32
@wanghongji1 - There's no invitation system. Anyone can join one of the Devnets and everything is open source. You can find instructions at [docs.filecoin.io](https://docs.filecoin.io).

[2019-10-08 06:02] wanghongji1 commented on #32
并不是Devnet，而是12月11日的公开测试版本是否有邀请
It's not Devnet, it's whether there's an invitation for the public beta version on December 11

[2019-10-08 16:22] eshon commented on #32
@wanghongji1 - The Filecoin project is open source on Github, anyone can choose to run Filecoin nodes and Testnet will be open to the public for anyone to mine. There will be **no** invitation system to a beta version. At launch, how to join the network will be published in the Docs and/or Github.

[2020-06-08 12:15] mx5kevin opened #36 "Pay or seed system where the visitors can keep online unlimited time the sites in P2P networks"
The project is compatible not just IPFS but with the ZeroNet and other similar projects. A system could be built where the visitors they have to seed back the downloaded data. Site or a file on a site. And if that content has been completly seeded back then the file is free. If not then the current user pay automatically to store the file. This would make it free for site owners to keep online the

[2020-06-21 12:13] bertrandfalguiere opened #38 "Watch discuss.filecoin.io or drive people away from it."
The [official discussion forum](https://discuss.filecoin.io) about Filecoin, which is featured in the Readme of this very repo, is ghosted by the Filecoin team.

[There re several different occurrences of people complaining having no answer after a long time](https://discuss.filecoin.io/t/getting-started-questions/294/6), and a lot of unanswered posts even though there are not many posts (maybe fo

[2020-07-01 03:42] JacobDenver007 opened #40 "请问有开发者电报群或者有测试网的公共节点么"
我现在想基于filecoin 当前的测试网开发钱包，但是没有找到以上的资料

[2020-08-11 23:46] sypro2020 opened #43 "Cache file deletion error"
An error occurred in my lotus program. I did 7 seal tasks at the same time. After all seal tasks are completed, the cache data of two tasks is not completely deleted from PC1 Worker /cache. The 32G cache file of same two tasks in PC1 worker /cache/sealed was also not deleted correctly.
![1371597187289__pic](https://user-images.githubusercontent.com/67464208/89959778-89215400-dc3d-11ea-888b-51fdf0b

[2020-08-11 23:50] sypro2020 commented on #40
没有，你可以建立一个

[2020-09-16 06:29] douyaolai opened #45 "请问新人如何加入 filecoinproject.slack.com"
请问新人如何加入 filecoinproject.slack.com
有大佬邀请吗 ?

[2020-10-16 23:07] JayDoubleu commented on #4
So, is there any news on this ?

[2020-10-21 17:09] pooja commented on #4
We have not implemented this, but anyone in the community should feel free to pick this up! We're happy to support however we can. Just let us know!

On Fri, Oct 16, 2020 at 4:07 PM, Jaroslaw Walaszek < notifications@github.com > wrote:

[2020-10-31 19:31] corviato1 opened #53 "Check miner connectivity"
https://spacerace.filecoin.io/check seems not to be working.  Tried my miner ID, and 4 of the top miners, and got the same error.

![1](https://user-images.githubusercontent.com/44780076/97788272-02fa1700-1b75-11eb-9b7e-8674e9fca2c2.png)

[2020-11-26 09:24] jiawei666 opened #55 "Is there a public interface for filecoin mining data statistics?"
Is there a public interface for filecoin mining data statistics?

[2021-02-10 11:24] corviato1 opened #57 "Where is the best place for retrieval config building?"

[2021-02-13 06:36] #55 closed

[2021-02-13 06:37] #57 closed

[2021-02-13 06:37] #45 closed

[2021-02-13 06:38] jennijuju commented on #53
the website is not longer maintained after SR ended

[2021-02-13 06:38] #53 closed

[2021-02-13 06:39] #43 closed

[2021-02-13 06:40] jennijuju commented on #40
https://network.filecoin.io

[2021-02-13 06:40] #40 closed

[2021-02-13 06:41] #36 closed

[2021-02-13 06:41] #32 closed

[2021-02-22 09:17] astronottoman opened #85 "lotus-miner and lotus-worker installation step error"
Hello everybody
I built PC with,
-AMD Ryzen 7 (8cores)
-128 GB 3200 Mhz RAM
-1+1 M2 NVME SSD
-2+2 7200 SATA
-GTX 1050 GPU
And
-UBUNTU 20.1
-go 16.1

I took an error which is related with lotus-miner installation step
That is why, i can not arrange enpoint and build API

Error:
[Makefile:84: Lotus] Error 1

[2021-02-22 09:27] astronottoman commented on #85
![image](https://user-images.githubusercontent.com/70802709/108688706-43f1af00-7509-11eb-8352-1395a3fc068c.jpeg)

[2021-03-25 04:57] annakaz opened #117 "Slack link for on filecoin landing page is no longer active"
Slack link: https://filecoinproject.slack.com/join/shared_invite/zt-nik8tcn4-v~7aPCfoIJHqoNY7wrK8OQ#/
shows "This link is no longer active" error
I<img width="1110" alt="Screen Shot 2021-03-24 at 9 56 52 PM" src="https://user-images.githubusercontent.com/16907027/112421189-d98c8400-8ceb-11eb-805e-5a18b9e98eba.png">

[2021-03-26 16:53] angiemaguire commented on #117
@annakaz Thanks for opening this issue. We're reviewing now.

[2021-03-30 15:34] andyschwab commented on #117
This is fixed!

[2021-03-30 15:34] #117 closed

[2021-05-04 19:46] jennijuju opened #150 "Sunset discussion.filecoin.io"
Sunset discussion.filecoin.io project:
- [x] @jennijuju Update readme with clearer community platform navigation and up-to-date resources #149
- [x] @andyschwab Inform discourse filecoin uses that it will be deprecated this friday and add link redirection to this repo
- [x] @andyschwab update the filecoin.io
- [x] @johnnymatthews update forum lilnks in docs.filecoin.io

[2021-05-05 18:27] johnnymatthews commented on #150
[This merge does my bit :)](https://github.com/filecoin-project/filecoin-docs/pull/828)

[2021-05-05 19:57] andyschwab commented on #150
[filecoin.io link updates](https://github.com/filecoin-project/website-new/pull/331), ready to go with your review @jennijuju

[2021-05-06 19:43] jennijuju commented on #150
Reviewed!

[2021-05-07 02:35] jennijuju commented on #150
Woohoo! Ready to 🌆

[2021-05-07 02:35] #150 closed

[2021-05-07 08:55] forjdk opened #157 "A well-known open source project is missing FIL"
https://github.com/iancoleman/bip39

The community is expected to submit a pull request
https://github.com/iancoleman/bip39/issues/483

[2021-05-10 01:33] landeliny2020 opened #159 "Please approve Sinso Imaging Dapp submission"
@jennijuju
Please approve Sinso Imaging Dapp submission
https://github.com/filecoin-project/community/pull/158

[2021-06-18 14:23] mishmosh commented on #38
@bertrandfalguiere We've finally migrated the Filecoin discussion forum to https://github.com/filecoin-project/community/discussions, and redirected the old URL. Your nudge was much appreciated - thank you.

[2021-06-18 14:23] #38 closed

[2021-06-18 14:24] mishmosh commented on #4
Closing this issue. If there is community interest, please comment on this issue and we will re-open.

[2021-06-18 14:24] #4 closed

[2021-06-18 14:25] mishmosh commented on #157
Tagging @momack2 @arajasek to evaluate and triage.

[2021-06-28 06:15] timguo-ipfs opened #193 "[Application] Filscan"
### Discussed in https://github.com/filecoin-project/community/discussions/82

<div type='discussions-op-text'>

<sup>Originally posted by **timguo-ipfs** February 20, 2021</sup>
## Filscan
**chain explorer you can use everyday@Filecoin**

**About [filscan.io](https://filscan.io/#/home)**

filscan is a Filecoin chain explorer developed by IPFSForce Team, it's easy and simple to integrate with file

[2021-06-28 08:02] #193 closed

[2021-07-08 06:35] cabinvc opened #211 "Filecoin Ecosystem Collective"
### Discussed in https://github.com/filecoin-project/community/discussions/195

<div type='discussions-op-text'>

<sup>Originally posted by **jennijuju** July  1, 2021</sup>
Are you interested in joining and supporting the Filecoin ecosystem? Is your project built on top of the Filecoin ecosystem?  Are you researching how to leverage or improve IPFS/Filecoin? Submit it here if you want it to be fe

[2021-07-08 06:36] #211 closed

[2021-07-22 10:33] longfeiWan9 commented on #159
@landeliny2020 sorry about the delay, we will review it ASAP

[2021-08-12 02:40] longfeiWan9 opened #253 "unable to clone project for Windows user"
When projects want to submit their project showcase, they could not clone this project because of  the invalid path for:
+ `community/polls/FIP-0014: Allow the Maximum Lifetime of V1 Proof Sectors to be 540 Days.md`
+ `community/polls/[SAMPLE POLL FOR TESTING] FIP-70: Enable DataCap Top up for Filecoin Plus Client Addresses.md`

Error message:
![WechatIMG199](https://user-images.githubusercontent.

[2021-08-13 02:33] jc0803kevin commented on #253
在windows 下面，该文件的命名格式不符合要求，导致check out的时候就会出错

[2021-08-19 15:26] dud1337 opened #263 "Template Issues for Storage Provider Bug Bounties"
We'd like some templates for the storage provider bug bounties.

If the Markdown is submitted for these tempaltes *here*, I can forge the PRs.

cc @vnessasgrt @jennijuju

[2021-08-19 16:38] vnessasgrt commented on #263
Template Name: Bounty Issue
About: Submit issues to help improve our community
Issue default title : [Bounty Issue]  <Your Title Here>
Template content:
## 1. Proposed issue:

## 2. Why is this issue important?

## 3. Tasks

## 4. Additional Context

Template Name: Bounty Claim
About: Claim a bounty for a completed work
Issue default title : [Bounty Issue]  <Your Title Here>
Template content:
## W

[2021-08-19 17:00] dud1337 commented on #263
This looks great, thank you, @vnessasgrt

I'll work on a PR now.

[2021-08-24 03:00] dud1337 commented on #263
Thanks, @Stefaan-V

[2021-08-24 03:00] #263 closed

[2021-08-24 08:18] dayou5168 opened #267 "[Storage Provider Bounty Issue] <create a tutorial about how to run lotus on multiple graphics cards in Docker>"
## 1. Proposed issue:

Many community members want to complete seal  tasks in a multi-graphics cards environment, especially since there is little information on running in docker, and the community need a  tutorial to guide our community members on how to configure lotus-worker to run under docker.

## 2. Why is this issue important?

Multiple graphics cards working simultaneously can significant

[2021-08-26 18:10] vnessasgrt opened #272 "[Storage Provider Bounty Issue] Missing PoST Penalty Calculator"
## 1. Proposed issue:
Provide a way to calculate storage provider's potential penalty

## 2. Why is this issue important?
- When a storage provider missed two or more proving deadlines, we are charged a penalty each day based on adjusted power and network base fees
- Storage providers find it difficult to anticipate their penalty in advance, and need to have enough FIL in their online balances

##

[2021-08-28 09:52] dayou5168 commented on #272
It will be a great tool for storage provider.

[2021-08-28 10:32] vnessasgrt opened #275 "[Storage Provider Bounty Issue] Beginner cheat sheet"
## 1. Proposed issue:

Beginner Cheat Sheet

## 2. Why is this issue important?
- Information too scattered for beginner to catch the essentials
- Cheat sheet could potentially attract more storage providers to participate in our project.

## 3. Tasks

- [ ] A tutorial with the latest hardware configuration

- [ ] Put a minimal documentation on how one can start on Filecoin storage providing. Thin

[2021-09-01 08:58] dayou5168 opened #280 "[Storage Provider Bounty Issue] write a tutorial on how to configure NUMA"
## 1. Proposed issue:

write a tutorial on how to configure NUMA

## 2. Why is this issue important?

Proper configuration of numa can effectively improve the utilization of hardware devices, and community members need a guide like this to reduce their chances of error

## 3. Tasks

- [ ] Detailed description of the hardware configuration targeted
- [ ] write the configuration steps and try to des

[2021-09-02 07:45] timguo-ipfs commented on #280
sounds great

[2021-09-03 07:08] CodingJzy commented on #267
would be happy to help you, but I don’t know much about the operation of lotus and various graphics cards. My dockerfile is quite good.

[2021-09-06 09:40] dayou5168 opened #291 "[Storage Provider Bounty Issue] Write a document on how to recover lost sector numbers in leveldb"
## 1. Proposed issue:

When the miner node fails and the miner is recovering, some sectors are generated after the backup data, the recovered miner node will lose this part of the sector number and need to manually modify the leveldb to recover the missing sector number

## 2. Why is this issue important?
 If the lost sector number cannot be recovered, the miner's sector number will be overwritten

[2021-09-08 08:41] gitnewbee007 commented on #280
Is the best answer going to be open to public？

[2021-09-08 08:43] dayou5168 commented on #280
Sure. it's for all storage provider

[2021-09-09 22:39] Justyna244 opened #294 "[Storage Provider Bounty Claim] <Your Title Here>"
## 1. What Bounty is this issue claiming?

## 2. What Pull Request contains the solution?

## Contact Information

[2021-09-10 08:07] CHIRU-TEAM commented on #294
So how the Bounty is running?

[2021-09-10 08:20] CHIRU-TEAM commented on #291
Nomal:DealUnknown->DealAccepted->DealStaged->DealSealing->DealComplete
Abnomal:DealUnknown->DealRejected|DealNoUpdate|DealError

The Filecoin project will create a **sector repair tool** to reduce the penalty of sector loss and damage and requiring sector termination, and repair problems during sector maintenance.
Let's looking forward to it .

[2021-09-16 22:09] kaola526 opened #298 "Local Multi Sign Wallet"
## 1. Proposed issue:

Create a local multi sign wallet `lotus wallet new`
View the local multi sign wallet `lotus wallet list`
Allow multi sign wallets to proposal `transfer lotus send`
Approve to multi address transaction `lotus wallet approve`

## 2. Why is this issue important?

Use local multi sign Wallet

## 3. Tasks

1，lotus wallet new msig
	--from: account to send the create message from (

[2021-09-17 01:40] coder-lb commented on #298
Great. After implementing it, it's easier to use multisig wallet.

[2021-09-17 01:48] jennijuju commented on #298
Would this work with other msig use cases, like using msig for owner address?

[2021-09-17 03:59] kaola526 commented on #298
We are already doing the owner's experiment. We will submit a PR as soon as possible

[2021-09-17 07:01] kaola526 opened #302 "Owner Use Of Multi Sign Address"
## 1. Proposed issue:

Miner's owner address supports the use of multi sign address
## 2. Why is this issue important?

1. The owner address holds the absolute power of miner, and uses multiple signature addresses to improve security;
2. Improve the multi sign address application scenario of filecoin
## 3. Tasks
1. The owner address is changed from ordinary address to multi sign address, multi sig

[2021-09-17 07:40] dayou5168 commented on #298
Hey. are you going to provide a document on how to use the multi-signature wallet money and how to switch miner addresses to the multi-signature wallet?

[2021-09-17 07:55] kaola526 commented on #298
Currently in preparation。Reference Resources [issue302](https://github.com/filecoin-project/community/issues/302)

[2021-09-17 15:07] jennijuju commented on #302
How is this different from what we have in lotus today?  https://github.com/filecoin-project/lotus/pull/6490/files

[2021-09-17 15:10] jennijuju commented on #302
From a bounty perspective, I’d imagine this to be combined with #298 as “msig wallet user experience improvement”

[2021-09-17 15:37] jennijuju commented on #298
We should allow user to be able to add the msig they are a signer of to local wallet as well.

[2021-09-17 15:48] kaola526 commented on #302
The approach is very similar. We focused on the `lotus-miner` directory and didn't notice that` lotus-shed` provided minermultisigscmd. Recommended to add changeworker and changecontrol

[2021-09-20 14:33] jennijuju commented on #302
Fair enough.

[2021-09-22 03:32] vnessasgrt opened #311 "[Storage Provider Bounty Issue] Power multiplication for normal deals and verified deals"
## 1. Proposed issue:

Power multiplication for normal deals and verified deals

## 2. Why is this issue important?

The random data equaling unverified data is hard to comprehend from a logical perspective

## 3. Tasks

- [ ] Create a Document/Graphic on how to help clients apprehend the power multiplication for normal deal and verified deals.
- [ ] Explain the difference and how it is calculated

[2021-09-27 13:32] kaola526 commented on #298
The issue code has been submitted. Whether the status of the issue should be modified from `open bounds` to `in progress`. Thanks

[2021-09-27 13:35] jennijuju commented on #298
@vnessasgrt ^

[2021-09-28 13:04] NSC-FIL opened #318 "Write-up a whitepaper regarding ZFS storage optimized for Filecoin."
1. Proposed issue:
Write up an expert-level whitepaper on zfspool storage setup, best practices, maintenance, and crisis management as it pertains to Filecoin storage (aka mining).  Present and discuss the topic during an upcoming SPWG meeting (optional).

2. Why is this issue important?
Many Filecoin storage providers use ZFS as their storage file system. For the most part, there is a general lac

[2021-09-29 21:57] flyworker opened #323 "[Storage Provider Bounty Issue] Deal processing Storage Provider on Calibration network"
## 1. Proposed issue:

We noticed that since the development increased in deal market, more and more teams test their solution on calibration network. Have storage providers on calibration network will help the ecosystem development.

## 2. Why is this issue important?
As a ecosystem developer, it is too expensive to testing everything on production, we also want to test the deal working on differ

[2021-10-08 02:23] BBQFIL commented on #318
期待

[2021-10-13 08:20] Fatman13 commented on #323
Also what is "Reservation system for user access"? Does that mean we need to provide access to our provider to 3rd party?

[2021-10-15 06:55] Fatman13 commented on #323
@flyworker How long are deals expected to live for?

[2021-11-04 01:33] PatHoo commented on #323
I want to join it.

[2021-11-04 02:56] vnessasgrt commented on #323
@cryptowhizzard If you are still interested in this project, please let me know
@PatHoo Great! Which region are you based in?

[2021-11-04 03:00] PatHoo commented on #323
Canton China

[2021-11-04 03:48] nobsu commented on #323
i want to join

[2021-11-04 03:51] vnessasgrt commented on #323
Which region are you based in?

[2021-11-04 07:30] cryptowhizzard commented on #323
@vnessasgrt yes I am still interested.

[2021-11-05 01:51] cloudxin commented on #323
I want to participate . The location is Yangzhou, China

[2021-11-05 01:54] cloudxin commented on #323
I want to participate . The location is China

[2021-11-08 12:42] jennijuju opened #372 "[Storage Provider Bounty Issue] Estuary shuttle service"
## 1. Proposed issue:

Experiment and run  [estuary shuttle](https://github.com/application-research/estuary) nodes for transferring data from estuary node  to storage providers on filecoin network.
## 2. Why is this issue important?

estuary is currently one of the biggest data broker on filecoin network and has made over 350 tib verified deals successfully with storage providers. Having more est

[2021-11-08 12:58] cryptowhizzard opened #373 "[Storage Provider Bounty Claim] Estuary Shuttle/Node"
## 1. What Bounty is this issue claiming?

Providing Estuary with an uncapped node in the Dcent Hosting B.V. datacenter.
The node consist of 10Gbe uncapped networking, 1TB RAM, 15TB NVME and an Epic 7282 CPU.

Pricing as is for the uncapped node is 2.500 USD/monthly. Started from October 2021.

## 2. What Pull Request contains the solution?

No solution provided.

## Contact Information

Email: in

[2021-11-08 14:27] flyworker commented on #323
t024557 , 32GB is online now for NA-EAST region

[2021-11-08 22:00] jennijuju commented on #373
@vnessasgrt we'd recommend a $2000/mo for a two months service bounty.

[2021-11-09 11:53] cryptowhizzard commented on #373
That is okay with us @jennijuju @vnessasgrt.

[2021-11-09 12:33] jennijuju commented on #373
Based on this [message](https://filecoinproject.slack.com/archives/C016APFREQK/p1636460659448100)

seems like the service was provided for one month (Oct) instead of two.

therefore, I'd suggest to approve a $2000 reward for this claim. cc @vnessasgrt please review and let us know if you have any questions.

[2021-11-09 12:34] jennijuju commented on #372
claimed [here](https://github.com/filecoin-project/community/issues/373)

[2021-11-09 12:42] cryptowhizzard commented on #373
@jennijuju The server is running since 08-09-2021 and is still running today 09-11-2021 so that is over two months now. @whyrusleeping can confirm.

[2021-11-09 15:01] cryptowhizzard commented on #373
@jennijuju Counting from 01-10-2021 is fine. We'll keep the first month for our own cost.

[2021-11-09 15:58] rjan90 commented on #85
Closing this issue. Because of its age, and also because these kinds of issues belongs to the lotus-repo, and not the community repo.

[2021-11-09 15:58] #85 closed

[2021-11-15 09:57] Fatman13 commented on #323
@flyworker the program has started?

[2021-11-15 23:27] flyworker opened #385 "[Storage Provider Bounty Issue] Data Distributed nodes globally"
## 1. Proposed issue:

As we have more and more datacap allocated, the data currently sealed in each region, however, due to the cost of bandwidth in some regions. Some datacap is stored within the same reigion,e.g. Asia, EU, NA.
We need to setup a global distributed system for data transfer. It is not part the lotus system. It is more like a temporary cache node for file delivery.

## 2. Why is t

[2021-11-15 23:42] jennijuju commented on #385
Please provide more details on what exactly the nodes will do and how.

[2021-11-16 13:07] cryptowhizzard commented on #323
t025478, 32 GB is now online for EU-West ( Amsterdam ).

[2021-11-16 13:15] cryptowhizzard commented on #385
Hi @flyworker we are interested in this and can setup the IPFS node for you.

[2021-11-17 22:32] f8-ptrk commented on #159
has this been done? i cannot find any reference to the application

[2021-11-18 01:14] flyworker commented on #385
We define "User" as but not limit to the following group:
* Who use IPFS node for transfer large data ,e.g >1Tb
* Who distribute .car file for distributing offline deals to storage providers
* Who has data in one region but want to have some kind of data distributed in another region
* Blockchain project like NFTs, videos using IPFS as agent to backup to filecoin network
Those users are the IPFS n

[2021-11-19 05:47] cloudxin commented on #323
t019411 , 32GB is online now for NA-EAS region

[2021-11-19 20:20] jennijuju commented on #373
as Why needs more time to move the data off safely, we'd like to extend the bounty to three months (Oct, Nov, Dec) on the condition that the shuttle is maintained till the end of the year.

[2021-11-26 07:10] nobsu commented on #385
Some transport nodes are necessary, I can deploy IPFS nodes in Singapore！

[2021-11-27 05:47] kaola526 commented on #298
Create a local multi sign wallet `lotus wallet new`
--Update：`lotus msig create --import=true`
Approve to multi address transaction `lotus wallet approve`
--Update：`lotus msig approve`

[2021-11-29 10:12] cryptowhizzard commented on #373
Hello @jennijuju

We are happy to extend for another month.

Months of October and november are still open. When can we expect payment?

[2021-11-29 17:29] vnessasgrt commented on #373
We will send you the payment information that are needed to be filled via email.

[2021-12-04 13:39] cryptowhizzard commented on #373
@vnessasgrt we have not received anything by mail yet. Have we missed something?

[2021-12-20 10:12] vnessasgrt opened #421 "[Storage Provider Bounty Issue] Lotus Video Descriptions"
## The initial topics are:
1. How to set up market nodes
2. How to handle incoming deals
3. Short videos on how to run Lotus nodes

Each video will be awarded $200USD

## Purpose of the video
The video is recorded to enable community members to understand and deploy the lotus program faster, or to use some of the lotus features, and the video needed to convey the content described in the topic.

#

[2021-12-22 07:02] bxs17 opened #422 "How to know in real time whether an account has fil transfer and query the historical transfer"
How to know in real time whether an account has fil transfer
And query the historical transfer records of the account

[2021-12-22 16:14] bxs17 commented on #422
andy body help

[2021-12-23 04:01] bxs17 commented on #421
lotus make &&run ?

[2022-01-01 16:24] vnessasgrt commented on #421
Yes, are you interested in this project? @bxs17

[2022-01-04 19:15] #373 closed

[2022-01-04 19:15] vnessasgrt commented on #373
This bounty is completed

[2022-01-06 01:25] vnessasgrt commented on #323
Due to the time limitation, we are going to lock this bounty on 4 contributors. @flyworker @cloudxin @nobsu @PatHoo
Bounty duration: Jan 6,2022 - March 6,2022 (3 months)

[2022-01-06 02:55] cloudxin commented on #323
For the sake of security, I hope to get your export public network address and place an order address, so that your deal machine will be allowed to access in my security group, and the provider will only receive your orders

在 2022年1月6日 ***@***.***> 写道：

Due to the time limitation, we are going to lock this bounty on 4 contributors. @flyworker @cloudxin @nobsu @PatHoo
 Bounty duration: Jan 6,2022

[2022-01-06 03:28] cloudxin commented on #323
@vnessasgrt For the sake of security, I hope to get your export public network address and place an order address, so that your deal machine will be allowed to access in my security group, and the provider will only receive your orders

[2022-01-06 15:05] vnessasgrt commented on #421
assigning this to @flyworker

[2022-01-07 03:10] cloudxin commented on #323
OK, you can send the order

[2022-01-07 10:15] nobsu commented on #323
32GB，in Singapore， Node is coming soon

[2022-01-07 11:18] PatHoo commented on #323
Miner: t029862 (32 GiB sectors), in Canton, IP-Port: 47.57.112.121:8888

[2022-01-07 12:27] PatHoo commented on #323
[code]

[2022-01-11 04:18] nobsu commented on #323
lotus client query-ask t030087
Ask: t030087
Price per GiB: 0.0000000005 FIL
Verified Price per GiB: 0.00000000005 FIL
Max Piece size: 32 GiB
Min Piece size: 256 B

[2022-01-11 19:38] whyrusleeping commented on #373
Thanks everyone!

[2022-01-13 01:03] flyworker commented on #421
We will do it with v1.13.2 before Jan 20th

[2022-01-17 02:33] cloudxin commented on #323
@vnessasgrt  I have never received your order, my calibration network miner number is **f019411**

[2022-01-18 02:43] flyworker commented on #323
Is f019411 a mainet id? I think testnet should start with 't'

[2022-01-18 04:14] cloudxin commented on #323
It's from the test network. It doesn't distinguish whether it starts with 'f' or 't'. Miner information can be queried

[2022-01-18 23:29] flyworker commented on #323
![image](https://user-images.githubusercontent.com/8363795/150035257-d4b2d974-05dd-45c3-82bf-2306a3a89c4c.png)

[2022-01-19 07:22] cloudxin commented on #323
![image](https://user-images.githubusercontent.com/43364105/150082940-67c60e80-1bc8-4253-a48d-adbae3409bfa.png)
I have tested on the lotus node remotely, and there is no problem. I want to know the reason for this error report

[2022-01-19 18:54] vnessasgrt opened #454 "[Storage Provider Bounty Issue] Video Tutorial on Hardware Specs for Storage Providers"
## 1. Proposed issue:
Video guidance on hardware specs

## 2. Why is this issue important?
- To make solo storage provisioning is possible
- Guidelines for new SP in the ecosystem
- As training material for Storage Provider
- To understand the complexities of complexities of balancing the sector sealing process.

## 3. Tasks
1. Video tutorial on how to covers a 1PiB of RAW Power for Storage Provid

[2022-01-19 19:39] benjaminh83 commented on #454
Hi @vnessasgrt
I would be happy to do a follow up on the SR workshop. I would think a similar setup, so some slides and real pictures of what a setup like this could look like.
Setup would include a storage systems, but including the compute resources for the different lotus processes, including the market module for real data ingestion.

[2022-01-19 19:42] vnessasgrt commented on #454
Awesome! Assigning this issue to @benjaminh83

[2022-02-02 14:19] vnessasgrt opened #457 "[Storage Provider Bounty Issue] Video tutorial on initiation and utilization of Boost for Storage Providers"
## 1. Proposed issue:
Creating a video on how to initiate and utilize Boost for Storage Providers

## 2. Why is this issue important?
The goal of this video is to enable community members to understand and deploy the lotus program faster, or to use some of the lotus features, and the video needed to convey the content described in the topic.

## 3. Tasks
1. Provide an understanding regarding the c

[2022-02-04 18:36] NSC-FIL commented on #318
Hi @vnessasgrt, there's a storage architect from Seagate (Slack ID: JohnSuykerbuyk ) who may be qualified and interested in writing up the ZFS document.  Can you unassign me and contact him to explain to him how to proceed?  BTW I've spoken to Stefaan about this during a SPWG meeting too.  Thank you.

[2022-02-14 13:11] vnessasgrt commented on #454
Closing this issue and video can be find here: https://www.youtube.com/watch?v=LKMjCgo-fkA&t=598s

[2022-02-14 13:11] #454 closed

[2022-02-23 05:16] flyworker commented on #421
Hi, we have submitted the video and let us know if any further step needed before we claim the bounty.
thanks

[2022-02-23 08:30] vnessasgrt commented on #421
Hi @flyworker! Please fill and open a [bounty claim](https://github.com/filecoin-project/community/issues/new/choose) form and our team will reach out to you upon payments! Thank you!

[2022-03-18 07:51] longfeiWan9 commented on #323
May I ask what the status of this Bounty program is?  I have tried to query-ask a couple of storage providers here without any luck. So I am wondering if they are still accepting storage deals on Calibration network for testing purposes.
The miners I have tired to query ask:
- t024557
- t030087
- t029862
- t019411
- t025478

[2022-03-18 12:38] PatHoo commented on #323
I shutdown t029862 a few days ago.

[2022-04-07 12:01] eshon opened #504 "FVM Milestone 1 Bug Bounty Program"
# About

The [Filecoin Virtual Machine](https://fvm.filecoin.io) is a new and exciting addition to the Filecoin protocol to support user-programmability and EVM-compatibility. The FVM will be added to the live Filecoin network in several milestones.

The Filecoin VM team invites hackers to help us find potential vulnerabilities in the FVM Milestone 1 codebase. Bug Bounties will be live for Milesto

[2022-04-10 20:44] ASunion opened #506 "区块同步始终报错，什么原因？（我是新手）"
Worker: 1; Base: 0; Target: 1709396 (diff: 1709396)
State: error; Current Epoch: 100; Todo: 1709296
Validated 0 messages (0 per second)

[2022-04-10 20:51] ASunion commented on #506
掉算力了，没有人可以咨询，只能靠大家了，不要嫌弃我是新手。万分感谢！

[2022-04-10 20:55] ASunion opened #507 "why？help me！"
root@user-Super-Server:~# lotus-miner proving deadlines
ERROR: could not get API info: could not get api endpoint: API not running (no endpoint)

[2022-04-10 21:08] ASunion opened #508 "why？help me！Tanks"
root@user-Super-Server:~# git checkout v1.15.1
error: 路径规格 'v1.15.1' 未匹配任何 git 已知文件
root@user-Super-Server:~# git checkout ‘v1.15.1’
error: 路径规格 '‘v1.15.1’' 未匹配任何 git 已知文件

[2022-04-10 21:48] ASunion opened #509 "miner、worker一直提示这个，怎么操作？"
root@user-Super-Server:~# lotus-worker run
2022-04-11T05:47:14.932+0800    INFO    main    lotus-seal-worker/main.go:172   Starting lotus worker
Connecting to miner API... (could not get API info: could not get api endpoint: API not running (no endpoint))

[2022-04-11 14:30] dayou5168 commented on #506
miner节点运行的基础是同步正常，你这个daemon节点没有同步完成吧。一般是因为daemon同步的文件夹所在的磁盘速度慢引起的，建议选择SSD用来区块同步。

[2022-04-11 14:32] ASunion commented on #506
接下来具体应该怎么操作？

[2022-04-11 14:34] ASunion commented on #507
求助各位大神

[2022-04-11 14:35] ASunion commented on #509
求助各位大神

[2022-05-05 07:47] Joss-Hua opened #515 "# Venus Master Fellowship Program - Incubation Center sub-project"
# Venus Master Fellowship Program - Incubation Center sub-project

We are glad to introduce the **Venus Master Fellowship Program** to you as part of our [Filecoin Storage Provider Incubation Center Program](https://venus.filecoin.io/incubation/). We have received positive feedback from the community. In case you haven't heard, check out the program [**here**](https://venus.filecoin.io/master/).

[2022-05-05 07:49] #515 closed

[2022-05-05 10:36] ASunion opened #517 "miner备份文件丢失，怎么找回节点？有owner私钥"
## 1. Proposed issue:

不小心把miner的备份文件backup搞丢了，现在有owner、worker的地址及私钥，怎么才能找回原节点？

## 2. Why is this issue important?

节点已经离线很长一段时间了，扇区快被销毁了。

## 3. Tasks

类似 miner init的操作，除了导入backup就没有别的方式可以登入老节点了吗？
keystore文件夹中的MF2XI2BNNJ3XILLQOJUXMYLUMU文件和NRUWE4BSOAWWQ33TOQ文件是否就是节点私钥？
这两个文件怎么样可以计算出来，用于恢复节点信息。
或者有什么好的办法可以恢复Linux（ubuntu 20.04）的文件？

[2022-05-05 10:38] ASunion commented on #517
赏金：20 Fil

[2022-05-05 11:10] ASunion commented on #517
20 fil

[2022-05-06 12:29] ASunion commented on #517
搞定了，lotus-miner init --actor=f0矿工号 --owner=钱包地址 --sector-size=32GiB

[2022-05-06 12:29] #517 closed

[2022-05-17 08:29] CodingJzy opened #519 "why no finish # Network v16 Skyr (FVM M1) 🍼"
# Network v16 Skyr (FVM M1) 🍼

🍼 Filecoin v16 Skyr upgrade will introduce Filecoin non-programmable WASM-based [Filecoin Virtual Machine (FVM)](https://fvm.filecoin.io) to Filecoin mainnet. Upon the v16 Skyr upgrade, Mainnet will atomically switch from the current built-in VMs to th[e WASM-based reference FVM](https://github.com/filecoin-project/ref-fvm). A new gas model will be activated that acc

[2022-05-23 03:45] swift-mx opened #521 "[Storage Provider Bounty Issue] <compact partitions>"
## 1. Proposed issue:

 Compacts a number of partitions at one deadline by removing terminated sectors, re-ordering the remaining sectors

## 2. Why is this issue important?

cannot compact deadline 0 during its challenge window, or the prior challenge window, or before 1800 epochs have passed since its last challenge window ended (RetCode=18)

## 3. Tasks

A miner command for this task

[2022-05-23 04:03] swift-mx opened #522 "[Storage Provider Bounty Issue] <precommits info>"
## 1. Proposed issue:
Get precommitted sector to seal it

## 2. Why is this issue important?

Sector precommitted but not seal

## 3. Tasks

A command to print precommit sector info

[2022-05-25 01:03] #521 closed

[2022-05-25 01:57] swift-mx opened #523 "[Storage Provider Bounty Claim] <View the currently known proving live sectors information>"
## 1. What Bounty is this issue claiming?

200 FIL

## 2. What Pull Request contains the solution?

https://github.com/filecoin-project/lotus/pull/8720

## Contact Information

f1idb4sgqrojxu7wg6a3vr4de7zrflqp6wpbptfsa

[2022-08-03 17:37] eighthave commented on #4
There has been some progress here, I'm in one bridged room at least.  It seems to be Slack-Matrix-Discord.  I don't know if it is publicly documented yet.

[2022-08-03 17:51] eighthave commented on #4
I found the matrix server: In Element:
1. Go to Explore Rooms
2. Click the Show menu
3. Click "Add new server..." at the bottom
4. Enter `ipfs.io`

[2022-09-09 07:44] Takahashi456 commented on #506
同问